<section class="container container--form-include">
    <div class="booklet booklet--centered">
        <div class="booklet__page booklet__page--slider-wrapper">
            <div class="owl-carousel owl-theme slider">
                <img class="slider__slide" src="img/slider-img-1.jpg" alt="image 1"/>
                <img class="slider__slide" src="img/slider-img-2.jpg" alt=" image 2"/>
                <img class="slider__slide" src="img/slider-img-3.jpg" alt=" image 3"/>
                <img class="slider__slide" src="img/slider-img-4.jpg" alt=" image 4"/>
            </div>
        </div><!-- .slider  -->

        <div class="booklet__page booklet__page--form">
            <h1 class="form-heading">Join us now. It's FREE</h1>
            <form action="" class="form">
                <table class="form__table">
                    <tr>
                        <th>I am</th>
                        <td>
                            <div class="form__flexed-cell">
                                <div>
                                    <div class="switch-btn form__switch-btn">
                                        <div class="switch-btn__inner">
                                            <input type="radio" name="gender-1" value="female" id="female-1"
                                                   checked="checked"/>
                                            <label for="female-1" class=""></label>
                                            <input type="radio" name="gender-1" value="male" id="male-1"/>
                                            <label for="male-1"></label>
                                        </div>
                                    </div><!-- .switch-btn -->
                                </div>
                                <div class="looking-for">
                                    <i class="fa fa-search"></i>&ensp;
                                    looking for
                                </div>
                                <div>
                                    <div class="switch-btn form__switch-btn">
                                        <div class="switch-btn__inner">
                                            <input type="radio" name="gender-2" value="female" id="female-2"/>
                                            <label for="female-2"></label>
                                            <input type="radio" name="gender-2" value="male" id="male-2"
                                                   checked="checked"/>
                                            <label for="male-2" class=""></label>
                                        </div>
                                    </div><!-- .switch-btn -->
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>name</th>
                        <td>
                            <div class="form__input-wrapper">
                                <input type="text" name="name" class="form__item error"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>age</th>
                        <td>
                            <div class="form__flexed-cell form__flexed-cell--grow">
                                <div>
                                    <div class="form__select-wrapper">
                                        <select name="" id="" class="form__item">
                                            <option value="" selected disabled>Day</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="" disabled>...</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="form__select-wrapper">
                                        <select name="" id="" class="form__item">
                                            <option value="" selected disabled>Month</option>
                                            <option value="">january</option>
                                            <option value="">february</option>
                                            <option value="">march</option>
                                            <option value="" disabled>...</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="form__select-wrapper">
                                        <select name="" id="" class="form__item">
                                            <option value="" selected disabled>Year</option>
                                            <option value="">1980</option>
                                            <option value="">1990</option>
                                            <option value="">2000</option>
                                            <option value="" disabled>...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>city</th>
                        <td>
                            <div class="form__select-wrapper">
                                <select name="" id="" class="form__item">
                                    <option value="" selected>London</option>
                                    <option value="">Kiyv</option>
                                    <option value="">New York</option>
                                    <option value="" disabled>...</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div class="form__flexed-cell">
                                <div>
                                    <p>
                                        <span class="form__checkbox-wrapper">
                                            <input type="checkbox" name="check-1" id="check-1"
                                                   class="form__checkbox" checked/>
                                            <label for="check-1">I'm cool</label>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="form__checkbox-wrapper">
                                            <input type="checkbox" name="check-2" id="check-2"
                                                   class="form__checkbox"/>
                                            <label for="check-2">Life's good</label>
                                        </span>
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <span class="form__radio-wrapper">
                                            <input type="radio" name="radio-1" id="radio-1"
                                                   class="form__radio"/>
                                            <label for="radio-1">Tee</label>
                                        </span>
                                    </p>
                                    <p>
                                        <span class="form__radio-wrapper">
                                            <input type="radio" name="radio-1" id="radio-2"
                                                   class="form__radio" checked/>
                                            <label for="radio-2">Beer</label>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <button type="submit" class="form__submit-button animated">start now</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</section><!-- .container--form-include -->