/* VARIABLES */
$sliderHeight: 33.57rem;
$mainColor: #4e4e4e;
$colorYellow: #ff800c;
$colorLight: #fff;
$borderColor: #d8d8d8;
$linksColor: #ffc28c;
$formBorderRadius: 20px;
$mainGap: 20px;


/* MIXINS */
@mixin linearGradient($startColor, $endColor) {
  background: $startColor;
  background: -webkit-linear-gradient($startColor, $endColor);
  background: -moz-linear-gradient($startColor, $endColor);
  background: -o-linear-gradient($startColor, $endColor);
  background: linear-gradient($startColor, $endColor);
}

@mixin columnCount($count: 1) {
  -webkit-column-count: $count;
  -moz-column-count: $count;
  column-count: $count;
}

/* EXTENDS */
.yellow-gradient {
  background-color: rgba(255,207,13,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,209,13,1) 0%, rgba(255,163,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,209,13,1)), color-stop(100%, rgba(255,163,0,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(255,209,13,1) 0%, rgba(255,163,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255,209,13,1) 0%, rgba(255,163,0,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,209,13,1) 0%, rgba(255,163,0,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(255,209,13,1) 0%, rgba(255,163,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd10d', endColorstr='#ffa300',GradientType=1 ); /* ie6-9 */
}

/* Media breakpoints */

@mixin for-big-desktop-down {
  @media (max-width: 1799px) { @content; }
}
@mixin for-desktop-down {
  @media (max-width: 1199px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 899px) { @content; }
}
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/* HELPERS */

.pull-left {
  float: left;
}

.pull-rigth {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 */
}