@import "base";
@import "reset";


/**************\
  #HEADER
\**************/

.main-header {
  padding: 15px;
}

.logo {
  img {
    width: 100%;
    height: auto;
  }
}

.main-header__logo {
  width: 280px;
  margin: 0 auto;
}

.container {
  width: 100%;
}

.container--form-include {
  background-color: rgba(255,207,13,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,209,13,1) 0%, rgba(255,163,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,209,13,1)), color-stop(100%, rgba(255,163,0,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(255,209,13,1) 0%, rgba(255,163,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255,209,13,1) 0%, rgba(255,163,0,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,209,13,1) 0%, rgba(255,163,0,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(255,209,13,1) 0%, rgba(255,163,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd10d', endColorstr='#ffa300',GradientType=1 ); /* ie6-9 */
}

.booklet {
  display: flex;
  flex-flow: row wrap;

  @include for-desktop-up {
    width: 960px;
  }
  @include for-desktop-down {
    width: 100%;
  }
}

.booklet--centered {
  margin: 15px auto;
}

.booklet__page {
  flex-grow: 1;

  @include for-tablet-landscape-down {
    flex-basis: 100%;
  }
  @include for-tablet-landscape-up {
    flex-basis: 0;
  }
}