/*
* Third Party
*/

@import "../../bower_components/normalize-css/normalize.css";
@import "../../bower_components/owl.carousel/dist/assets/owl.carousel.css";
@import "../../bower_components/owl.carousel/dist/assets/owl.theme.default.css";
@import "../../bower_components/components-font-awesome/css/font-awesome.css";
@import "../../bower_components/tether-tooltip/dist/css/tooltip-theme-arrows.css";


/*
* Custom
*/

@import "base";
@import "reset";
@import "animate";


/*
* Fonts
*/

// Include only.woff, because it's faster then other formats
// and pretty supported by browsers -  http://caniuse.com/#feat=woff
@font-face {
  font-family: 'SourceSansPro Light';
  src: url('../fonts/source-sans-pro-light.woff') format('woff');
}
@font-face {
  font-family: 'SourceSansPro ExtraLight';
  src: url('../fonts/SourceSansPro-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
       url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
       url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
       url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



html {
  box-sizing: border-box;
  font-size: 14px;

  @include for-tablet-landscape-down {
    font-size: 12px;
  }
  @include for-phone-only {
    font-size: 10px;
  }
}

body {
  font-family: 'SourceSansPro Light', sans-serif;
  font-size: 14px;
  color: $mainColor;
}
*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 3.142rem; // 44px
}
h2 {
  font-size: 2.214rem; // 31px
}
h3 {
  font-size: 1.571rem; // 22px
}
h4 {
  font-size: 1.143rem; // 16px
}
h5 {
  font-size: 1rem; // 14px
}
h6 {
  font-size: .785rem; // 11px
}


input,
select,
textarea,
button {
  outline: none;
}

p,
ol,
ul {
  line-height: 1.5;
}

blockquote {
  position: relative;
  padding: 0 2.142rem;
  color: #9a9a9a;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: $mainGap;

  &::before,
  &::after {
    position: absolute;
    font-family: 'SourceSansPro ExtraLight';
    font-size: 4rem;
    line-height: 20px;
  }

  &::before {
    top: 5px;
    left: 0;
    content: '\201C';
  }

  &::after {
    right: 15px;
    bottom: -20px;
    content: '\201D';
  }
}

a {
  color: $linksColor;
  transition: color 0.1s ease-out;

  &:hover {
    color: darken($linksColor, 8%);
  }
}

/**************\
  #HEADER
\**************/

.main-header {
  padding: 15px;
}

.logo {
  img {
    width: 100%;
    height: auto;
  }
}

.main-header__logo {
  width: 20rem;
  margin: 0 auto;
}



/**************\
  #BOOKLET slider
\**************/

.container {
  width: 100%;
}

.container--form-include {
  @extend .yellow-gradient;
  padding: $mainGap;
}

.booklet {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  border-radius: 3px;
  //background-color: #f8f8f8;
  box-shadow: 0 0 4px 0 rgba(50, 50, 50, .75);

  @include for-desktop-up {
    width: 960px;
  }
  @include for-desktop-down {
    width: 100%;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 15px;
    width: 50%;
    height: 18px;
    border-radius: 2px;
    box-shadow: 0 18px 3px 0 rgba(0,0,0,0.25);
  }

  &::before {
    left: 20px;
    transform: rotate(-2deg) skewX(-28deg);
  }

  &::after {
    right: 20px;
    transform: rotate(2deg) skewX(28deg);
  }
}

.booklet--centered {
  margin: 0 auto;
}

.booklet__page {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #f8f8f8;
  overflow: hidden;
  z-index: 1;

  .slider {
    border-top-left-radius: 3px;
  }

  @include for-tablet-landscape-down {
    flex-basis: 100%;
    width: 100%;

    .slider {
      border-top-right-radius: 3px;
    }
  }

  @include for-tablet-landscape-up {
    flex-basis: 0;
    width: 50%;

    &:first-child {
      border-right: 1px solid #dcdcdc;
    }
  }
}

.slider {
  width: 100%;
  height: $sliderHeight;
  overflow: hidden;
}

.booklet .owl-carousel img {
  width: initial;
}

@supports(object-fit: cover) {
  .booklet .owl-carousel img {
    width: 100%;
  }

  .slider__slide {
    height: $sliderHeight;
    object-fit: cover;
    object-position: 50% 25%;
  }
}

.slider {
  .owl-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .owl-dot span {
    position: relative;
  }

  &.owl-theme .owl-dots .owl-dot {
    span {
      width: 11px;
      height: 11px;
      background-color: rgba(0,0,0,.8);
      box-shadow: 0 0 3px 1px rgba(255,255,255,.3);
    }

    &.active span::after {
      @extend .yellow-gradient;
      position: absolute;
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}



/**************\
  #BOOKLET form
\**************/

.booklet__page--form-wrapper {
  padding: 1.427rem 2.714rem 1rem 1.427rem;
}

.form-heading {
  position: relative;
  color: $colorYellow;
  margin-bottom: 11px;

  &::before {
    content: '';
    position: absolute;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 14px 5px 10px rgba(248, 248, 248, .6);
  }
}

.form__table {
  width: 100%;
  font-size: 18px;

  th {
    width: 20%;
    text-align: left;
    vertical-align: middle;
    text-transform: capitalize;
  }
  
  td {
    width: 80%;
    padding: 6px 0;
  }

  p {
    margin-bottom: 15px;
    line-height: 1;
  }
}

.form__flexed-cell {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    align-self: center;
    margin-top: 7px;
    margin-bottom: 7px;

    &:not(:last-child) {
      //margin-right: 15px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.form__flexed-cell--grow {
  margin-right: -5px;
  margin-left: -5px;

  > div {
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.switch-btn {
  width: 95px;
  height: 35px;
  border-radius: $formBorderRadius;
  box-shadow: 0 0 1px 0 #8f661f;
  border: 1px solid #8f661f;

  label {
    position: relative;
    width: 50%;
    height: 100%;
    cursor: pointer;
    @include linearGradient($colorLight, darken($colorLight, 12%));

    &:active {
      @include linearGradient(darken($colorLight, 12%), $colorLight);
    }

    &:nth-of-type(1)::after {
      content: '';
      display: block;
      position: absolute;
      top:0;
      right:0;
      height: 100%;
      width: 1px;
      background-color: rgba(0,0,0,.2);
    }

    &[for^="female"]::before,
    &[for^="male"]::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 30px;
      background-image: url(../img/icons.png);
      transform: translate(-50%, -50%);
    }

    &[for^="female"]::before {
      background-position: 18px 0;
    }
    &[for^="male"]::before {
      background-position: 18px 30px;
    }
  }

  input {
    display: none;

    &:checked + label {
      background: 0 0;

      &[for^="female"]::before {
        background-position: 0 0;
      }
      &[for^="male"]::before {
        background-position: 0 30px;
      }
    }
  }
}

.switch-btn__inner {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  border-radius: $formBorderRadius;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .5);
  @include linearGradient(#ff8a1e, #ffac03);
  overflow: hidden;
}

.looking-for i {
  font-size: 16px;
  transform: rotateY(180deg);
}

.form__input-wrapper {

}

.form__item {
  width: 100%;
  height: 35px;
  border: 1px groove $borderColor;
  border-radius: $formBorderRadius;
  box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,.6);
  @include linearGradient(darken($colorLight, 12%), $colorLight);
  color: $mainColor;
  font-size: 16px;
  padding: 5px 15px 2px;
  cursor: pointer;
  transition: all .2s ease-out;
  appearance: none;

  &:focus {
    //background-position: 0 100%;
    @include linearGradient($colorLight, $colorLight);
  }

  &.error {
    border: 1px solid rgba(255,0,0,.5);
  }
}

.form__select-wrapper {
  position: relative;

  select {
    padding-right: 40px;
  }

  &::after {
    content: '\25BC';
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 1px;
    padding: .4em .8em;
    border: 1px solid $borderColor;
    border-top-right-radius: $formBorderRadius;
    border-bottom-right-radius: $formBorderRadius;
    pointer-events: none;
    @include linearGradient($colorLight, darken($colorLight, 12%));
    font-size: 16px;
  }

  &:active::after {
    @include linearGradient(darken($colorLight, 12%), $colorLight);
  }
}

.form__checkbox-wrapper {
  display: block;

  label {
    position: relative;
    display: block;
    padding-left: 25px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      display: block;
      width: 14px;
      height: 14px;
      @include linearGradient($colorLight, darken($colorLight, 12%));
      border-style: solid;
      border-width: 2px;
      border-top-color: $borderColor;
      border-right-color: darken($borderColor, 15%);
      border-bottom-color: darken($borderColor, 15%);
      border-left-color: $borderColor;
      transition: all .3s ease-in;
    }
  }

  input {
    display: none;

    &:checked + label::before {
      @include linearGradient(adjust_hue($colorYellow, 15deg), $colorYellow);
      box-shadow: inset -1px -1px 1px 0 rgba(0, 0, 0, .2);
    }
  }
}

.form__radio-wrapper {
  @extend .form__checkbox-wrapper;

  label::before {
    border-radius: 50%;
  }
}

.form__submit-button {
  display: block;
  width: 100%;
  background: #bfd255;
  background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 25%, #72aa00 26%, #9ecb2d 200%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bfd255 0%, #8eb92a 25%,#72aa00 26%,#9ecb2d 150%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 25%, #72aa00 26%,#9ecb2d 150%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 25%, #72aa00 26%,#9ecb2d 150%); /* IE10+ */
  background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 25%, #72aa00 26%,#9ecb2d 150%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
  background-size: 100% 200%;
  border: 1px solid #BFD782;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  text-transform: capitalize;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  font-family: 'SourceSansPro ExtraLight', 'SourceSansPro Light', sans-serif;
  font-size: 3.43rem;
  transition: background .5s ease-out;

  &:hover {
    background-position: 0 100%;
  }
}

.form__alert-icon {
  position: relative;

  &::after {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-family: FontAwesome;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  }
}

.form__alert-icon--error::after {
  content: '\f00d';
  color: #ff5d55;
}

.form__alert-icon--success::after {
  content: '\f00c';
  color: #9ece18;
}

.tooltip {
  z-index: 999;
}



/**************\
  #MAIN CONTENT
\**************/



main {
  width: 100%;
  margin: 0 auto;

  @include for-desktop-up {
    max-width: 960px;
  }
}

.site-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: $mainGap;
  padding-bottom: $mainGap;

  @include for-desktop-down {
    padding-right: $mainGap;
    padding-left: $mainGap;
  }

  p {
    line-height: 1.5;
  }
}

.site-content__heading {
  margin: $mainGap 0;
}

.site-content__col {
  margin-bottom: 2rem;
}

.site-content__col--50 {
  flex: 1 1 50%;

  @include for-tablet-landscape-down {
    flex-basis: 100%;
  }
}

.image-round-wrapper {
  width: 175px;
  height: 175px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 50%;
}

@supports(shape-outside: circle(50%)) {
  .image-round-wrapper {
    shape-outside: circle(50%);
  }
}

.image-round-wrapper img {
  width: 100%;
  height: 100%;
}

@supports(object-fit: cover) {
  .image-round-wrapper img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    object-position: 45% 50%;
  }
}

.site-content__long-text {
  p,
  ol {
    margin-bottom: 1.785rem;
  }

  ol {
    padding-left: $mainGap;
  }
}

@supports(column-count: 3) {
  .site-content__long-text {
    @include columnCount(3);

    @include for-tablet-landscape-down {
      @include columnCount(2);
    }
    @include for-phone-only {
      @include columnCount(1);
    }
  }
}

.preformatted {
  padding-left: 25px;
  color: $linksColor;
  border-left: 3px solid $linksColor;
}

.read-more {
  position: relative;
  padding-left: 12px;

  &::before {
    position: absolute;
    content: '\25B6';
    left: 0;
  }
}











